<div class="container">
  <div class="content">
    <h2><b>Forget Password</b></h2>
    <form class="form-group"  [formGroup]="forgetPasswordForm" (ngSubmit)="ForgetPassword()">
      <div class="fm-control">
        <label><b>EmailId</b></label>
      <input class="form-control" placeholder="Please enter emailId"  type="email" formControlName="emailId">
      <div class="error-msg" *ngIf="g.emailId.invalid && isSubmited">
      <div  *ngIf="g.emailId.errors.required"><b>Please enter EmailId.</b></div>
      <div *ngIf="!g.emailId.valid && !g.emailId.errors.required"><b>Please enter valid EmailId.</b></div>
      </div>
      </div>
      <div class="fm-control">
        <button type="submit" [disabled]="!forgetPasswordForm.valid && isSubmited" class="btn btn-outline-info"><b>Login</b></button>
      </div>
    </form>
  </div>
</div>
